td:nth-child( 1 ) {
	width: 50%!important;
}

.ajaxed {
	padding-right: 20px!important;
	background: url( '/wp-admin/images/spinner.gif' ) no-repeat right center;
}

#log-select-contain {
	display: inline-block;
	float: left;
}

.tablenav.selects .actions {
	width: 100%;
}

.tagchecklist {
	margin-left: 0;
}

.tagchecklist span {
	padding-left: 16px;
}

.tagchecklist span a {
	margin-left: -16px;
}

@media only screen and ( max-width: 768px ) {
	.tablenav.top .actions {
		display: block;
	}

	.tablenav.top .actions select {
		display: block;

	}

	#log-select-contain {
		float: none;
	}

	.tablenav .actions .button {
		margin: 18px 0 10px 0;
	}

	.tagchecklist {
		margin: 18px 0;
	}

	.tagchecklist span {
		font-size: 1em;
		line-height: 2em;
	}
}

@media only screen and ( min-width: 769px ) {
	.send-email-form {
		max-width: 50%;
	}
}